.noteCard {
  border-radius: 1em;
  margin-bottom: 1em;
  .noteImportanceBtn {
    border-radius: 8px;
  }
  .deleteIcon {
    visibility: hidden;
    color: rgba(0, 102, 255, 0.301);
    font-size: 1.5em;
  }
  &:hover {
    .deleteIcon {
      visibility: visible;
    }
  }
}
