.DeleteContainer {
  position: fixed;
  width: 15em;
  height: 15em;
  background-color: aquamarine;
  right: 0;
  bottom: 0;
  .deleteIcon {
    font-size: 3em;
    position: relative;
    left: 2em;
    top: 2em;
  }
}
