.appWrapper {
  display: flex;
  flex-direction: column;
  background: linear-gradient(35deg, #ccffff, #ffcccc);
  min-height: 100vh;
  .header {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    // background-color: white;
    .title {
      font-family: "Open Sans", sans-serif;
      margin-top: 50px;
      font-size: 30px;
      font-weight: bold;
    }
  }
  .body {
    display: flex;
    flex: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    .sider {
      flex: 0 0 24em;
      margin-right: 4em;
      margin-top: 13em;
    }
    .content {
      flex: auto;
      display: flex;
      justify-content: center;
      align-items: center;

      .card {
        width: 50vw;
        border-radius: 1.5em;
      }
    }
  }
  Button {
    border-radius: 8px;
  }
}
